@mixin setPosition($position, $args: (), $z-indexing: null) {
  $offsets: top right bottom left;
  position: $position;
  z-index: $z-indexing;

  @each $offset in $offsets {
  $index: index($args, $offset);

      @if $index {
          @if $index == length($args) {
              #{$offset}: 0;
          }
          @else {
              $next: nth($args, $index + 1);
              @if is-valid-length($next) {
                  #{$offset}: $next;
              }
              @else if index($offsets, $next) {
                  #{$offset}: 0;
              }
              @else {
                  @warn "Invalid value `#{$next}` for offset `#{$offset}`.";
              }
          }
      }
  }
}
